
/* Global styles for the application */

*{
  box-sizing: border-box ;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

}

body {
  padding: 40px;
  background-color: #151515;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  color: #f3f3f3;
  text-align: center;
  font-size: 40px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1024px;
  margin: 0 auto;
}

.card {
      border:1px solid #4b5362;
      padding:2px;
      margin:10px;
      background-color:#31363f;
      border-radius:10px;
      min-height:100px;
}
button{
      margin-top:10px;
      padding:10px 20px;
      border:none;
      font-size: 30px;
      border-radius:5px;
      width: 100px;
      background-color:#646cff;
      text-align: right;
      color:white;
      cursor:pointer;
}